  <!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title><h1>FUTURE</h1> </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/mains.css" />
	</head>
	<style>
		body{
			background-image:url('https://www.agiledrop.com/sites/default/files/styles/blog_article/public/2020-05/Experience%2017.png?itok=spxlxdgE');
			background-repeat: no-repeat;
			background-size: 1600px 990px;
		  }
		</style>
	<body>

		 

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			 
		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="../images/image2.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2><b><u>FUTURE</u></b></h2>
						 
						</header>
						<div class="content">
							<p><h2><b>FEATURE ENGINEERING   ;  DEEP LEARNING   ;   BEHAVIOURAL ANALYSIS</b></h2></p>
						</div>
						 
					</article>
				</div>
				 
			</section>

		<!-- Two -->
		 
		 
		 

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/mains.js"></script>
<input type="button" onclick="window.location.href='{{url_for('index')}}';" value="HOME" />
	</body>
</html>